# PlastoKast Environment Configuration Example
PORT=8000

# Replace with your MongoDB Atlas or Local MongoDB Connection String:
MONGODB_URI=mongodb://127.0.0.1:27017/plastokast_db
DB_NAME=plastokast_db
